body{
    margin: 0;
}

#bodyContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #414141;
}

#addAndSearch{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
    height: 2.5rem;
    width: 20rem;
    background-color: 396EB0;
    border-radius: 0.3rem;
}

#searchText{
    width: 14.8rem;
    height: 2.4rem;
    background-color: #252525;
    border-radius: 0.3rem;
}

#searchBtn{
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #191919;
    border-radius: 0.3rem;
}

#addFile{
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #191919;
    border-radius: 0.3rem;

}

#breadCrumbs{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95vw;
    height: 1.5rem;
    background-color: 396EB0;
    border-radius: 0.3rem;
    margin-top: 1rem;
}

#bctxt{
    width: calc(95vw - 0.1rem);
    height: 1.4rem;
    background-color: #303030;
    border-radius: 0.3rem;
}

#filesAndFolder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: calc(92vh - 1.5rem - 2.5rem);
    background-color: 396EB0;
    border-radius: 0.3rem;  
    margin-top: 0.5rem;  
}

.filesAndFolder{
    width: calc(99vw - 0.1rem);
    height: calc(92vh - 1.5rem - 2.6rem);
    background-color: #212121;
    border-radius: 0.3rem;  
}

.fas{
    color: 396EB0;
}

.tempFolder{
    background-color: red;
    margin: 1rem;

}

